/*---RESET---*/

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/*----GENERAL----*/
body{
    font-family: "Edu TAS Beginner", serif;
    background-image: url(../img/cork.png);
}
.container{
    max-width: 75rem;
    margin-left: auto;
    margin-right: auto;
    margin-top: 1rem;
    padding: 1.875rem;
    display: flex;
    flex-wrap: wrap;
}

header {
    background-image: url(../img/wall.png);
    position: sticky;
    top: 0;
    z-index: 1;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.img-fluid{
    width: 100%;
    padding: 1rem;
}
/*----TYPHOGRAPHY----*/

.title-header{
    font-size: 5.625rem;
    text-align: center;
    padding: 1.875rem;
}

/*----MAIN----*/

.card{
    background-color: white;
    width: calc((100% - 6rem)/ 3);
    margin: 1rem;
    position: relative;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    cursor: pointer;
    transition: transform 1s;
}
.card:hover{
    opacity: 0.9;
    transform: rotate(10deg) scale(1.1);
}
.card:hover .img-point{
   display: none;
}
#card-title{
    margin-bottom: 2rem;
    padding: 0 1rem;
    text-transform: capitalize;
}

.img-point{
    position: absolute;
    left: 50%;
    transform: translate(-50%, -50%);
}

/*----OVERLAY----*/
    .overlay {
    display: block; 
    position: fixed; 
    z-index: 10; 
    padding-top: 100px; 
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0,0,0,0.9); 
  }
  
.img-space {
    margin: auto;
    display: block;
    width: 26%;
    max-width: 600px;
  }
  
  #btn {
    position: absolute;
    top: 3rem;
    left: 50%;
    transform: translate(-50%, -50%);
    color: black;
    font-size: 30px;
    font-weight: bold;
    border: none;
    border-radius: .3125rem;
    padding: .25rem;
  }

  #btn:hover {
    background-color: rgb(218, 178, 76);
    cursor: pointer;
  }
  .d-none{
    display: none;
  }
  
/*---MEDIUM-----*/

@media screen and (max-width: 60rem){
    .card{
        width: calc((100% - 4rem )/ 2);
    }
    .container{
        max-width: 50rem;
    }
    .img-space {
        width: 40%;
      }
}

/*---SMALL---*/

@media screen and (max-width: 37.5rem){
    .card{
        width: calc(100% - 2rem);
    }
    .container{
        max-width: 25rem;
    }
    .img-space {
        width: 50%;
      }
}