/*---RESET---*/

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/*----GENERAL----*/
body{
    font-family: "Edu TAS Beginner", serif;
    background-image: url(../img/cork.png);
}
.container{
    max-width: 87.5rem;
    margin-left: auto;
    margin-right: auto;
    margin-top: 1rem;
    padding: 1.875rem;
    display: flex;
    flex-wrap: wrap;
}

header {
    background-image: url(../img/wall.png);
    position: sticky;
    top: 0;
    z-index: 100;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.img-fluid{
    width: 100%;
    padding: 1rem;
}
/*----TYPHOGRAPHY----*/

.title-header{
    font-size: 5.625rem;
    text-align: center;
    padding: 1.875rem;
}

/*----MAIN----*/

.card{
    background-color: white;
    width: calc((100% - 6rem)/ 3);
    margin-right: 2rem;
    margin-top: 2rem;
    position: relative;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

#card-title{
    margin-bottom: 2rem;
    padding: 0 1rem;
}

.img-point{
    position: absolute;
    left: calc(50% - 1rem);
    top: -1rem;
}